@font-face {
    font-family: 'Skranji';
    src: url('Skranji.woff2') format('woff2'),
        url('Skranji.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Skranji';
    src: url('Skranji-Bold.woff2') format('woff2'),
        url('Skranji-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

